<div class="container-fluid">
<div class="card userDetails">
<div class="row">    
        <div class="userInfo">
            <img src="https://wallpaperaccess.com/full/7949927.jpg">Welcome Back Anjali Arora
        </div>
    </div>

</div>
<h6 class="title">Ongoing Quiz</h6>
<div class="row">
    <div class="col-md-3">
        <div class="card quizCard">

        </div>
    </div>
    <div class="col-md-3">
        <div class="card quizCard">

        </div>
    </div>
    <div class="col-md-3">
        <div class="card quizCard">

        </div>
    </div>
    <div class="col-md-3">
        <div class="card quizCard">

        </div>
    </div>
</div>
<hr>
<b class="title">Continue to Learn Your Enroll Courses</b>
<div class="row">
    <div class="col-md-3">
        <div class="card quizCard">
            

        </div>
    </div>
    <div class="col-md-3">
        <div class="card quizCard">

        </div>
    </div>
    <div class="col-md-3">
        <div class="card quizCard">

        </div>
    </div>
    <div class="col-md-3">
        <div class="card quizCard">

        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <p class="title">Notice Board</p>
        <div class="card noticeBoard">
        
        </div>
    </div>
    <div class="col-md-6">
        <p class="title">Performance Statistics</p>
        <div class="card performanceStats">
        
        </div>
    </div>
</div>
</div>
