<div class="card sidebar">
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-wifi"></i> Dashboard</li>
        <li class="list-group-item"><i class="fa fa-wifi"></i> Dashboard</li>
        <li class="list-group-item"><i class="fa fa-wifi"></i> Dashboard</li>
        <li class="list-group-item"><i class="fa fa-wifi"></i> Dashboard</li>
        <li class="list-group-item"><i class="fa fa-wifi"></i> Dashboard</li>
        <li class="list-group-item"><i class="fa fa-wifi"></i> Dashboard</li>
        <li class="list-group-item"><i class="fa fa-wifi"></i> Dashboard</li>
        <li class="list-group-item"><i class="fa fa-wifi"></i> Dashboard</li>
        <li class="list-group-item"><i class="fa fa-wifi"></i> Dashboard</li>
      </ul>
</div>
